.inter-font {
  font-family: "Inter", sans-serif;
}
body{
    margin: 0;
}
header{
  background: gray;
  color: var(--White, rgba(255, 255, 255, 1));
}
.display-flex{
    display: flex;
}
.nav-gap{
    gap: 5px;
}
nav{
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 60px;
 
}

.nav-container{
    width: 123px;
    height: 52px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px;
    border-radius: 50px;
    background: rgba(65, 255, 107, 0.1);


}
nav img{
    width: 50px;
    height: 50px;
}

h2{
    color: rgba(0, 103, 71, 1);
    font-size: 16px;
    font-weight: 900;
    margin-top: 0;    
}
.left-nav{
    gap: 20px;
}
.left-nav img{
    width: 30px;
    height: 30px;
}
.left-nav h3{
    width: 32px;
    height: 24px;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}
.btn{
    width: 127px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 36px;
    border-radius: 50px;
    background: rgba(0, 166, 62, 1);
    color:rgba(255, 255, 255, 1);
    border: none;
    font-size: 16px;
    font-weight: 900;
}

.banner{
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
    padding: 21px 60px;
    text-align: center;
    color: white;
}
.banner img{
    width: 92px;
    height: 92px;
}
.banner h4{
    font-family: Hind Madurai;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.banner p{
    font-family: Hind Madurai;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}


.container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 20px;
      padding: 20px;
      background: rgba(245, 255, 246, 1);

    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .card {
      background: #fff;
      border-radius: 12px;
      padding: 16px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    .card-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .card-img img{
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: rgba(255, 227, 226, 1);
    padding: 10px;
    margin: 14px;
    }

    .card .heart {     
      width: 24px;
      height: 24px;
      cursor: pointer;
      color: Gray;
      
    }

    .card h3 {
      margin: 0;
      color: var(--Dark, rgba(17, 17, 17, 1));
      font-family: Hind Madurai;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      text-align: left;
}
    
    .card p {
      
      width: 372.67px;
      height: 21px;
      margin: 5px 0;
      color: var(--Gray, rgba(92, 92, 92, 1));
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 100%;
      text-align: left;
    }
    .number {
      width: 372.67px;
      height: 38px;
      color: var(--Dark, rgba(17, 17, 17, 1));
      font-family: Roboto;
      font-size: 32px;
      font-weight: 700;
      line-height: 100%;
      text-align: left;

    }
    .badge {
      width: 80px;
      height: 25px;
      padding: 6px;
      color: var(--Gray, rgba(92, 92, 92, 1));
      background: var(--Gray-Light, rgba(242, 242, 242, 1));
      font-size: 18px;
      font-family: Li Ador Noirrit;
      font-weight: 400;
      text-align: center;
      border-radius: 12px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    }
    .buttons {
      /* width: 182.33px;
      height: 40px; */
      display: flex;
      /* gap: 2px; */
      /* align-items: center; */
      padding: 14px;
      justify-content: space-between;
    }
    .buttons button {
      border: none;
      padding: 8px 50px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
    }
    .copy {
      box-sizing: border-box;
      border: 1px solid var(--Stroke, rgba(212, 214, 213, 1));
      border-radius: 8px;
      background: var(--White, rgba(255, 255, 255, 1));
      box-sizing: border-box;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
    }
    .call {
      background: #06a94d;
      color: white;
    }

    /* History */
    .history {
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
      background: var(--White, rgba(255, 255, 255, 1));
      margin-right: 20px;
    }
    .history-header {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding: 24px;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .history-header h3 {
      margin: 0;
    }
    .clear-btn {
      width: 114px;
      height: 52px;
      justify-content: center;
      align-items: center;
      padding: 12px 36px 12px 36px;
      border-radius: 50px;
      background: rgba(0, 166, 62, 1);
      border: none;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
    .history ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

